In [16]:
import pandas as pd

# DataFrame with only necessary columns and types
person_base_necessary = pd.DataFrame({
    "person_id": pd.Series(dtype="int"),
    "gender_concept_id": pd.Series(dtype="int"),
    "year_of_birth": pd.Series(dtype="int"),
    "race_concept_id": pd.Series(dtype="int"),
    "ethnicity_concept_id": pd.Series(dtype="int"),
})

In [3]:
ls

default_values.py                      mockEDS/
env.sh*                                requirement.txt
identify_unique_drugs.py               test_bases.ipynb
mimic-iii-clinical-database-demo-1.4/  unique_drugs_for_usagi.csv

In [34]:
PATIENTS_df = pd.read_csv("mimic-iii-clinical-database-demo-1.4/PATIENTS.csv")

In [33]:
PATIENTS_df

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1
...,...,...,...,...,...,...,...,...
95,31838,44083,M,2057-11-15 00:00:00,2114-02-20 00:00:00,2114-02-20 00:00:00,2114-02-20 00:00:00,1
96,31853,44154,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,1
97,31867,44212,F,2078-06-16 00:00:00,2124-01-29 00:00:00,NaN,2124-01-29 00:00:00,1
98,31870,44222,M,2107-06-27 00:00:00,2182-08-03 00:00:00,2182-08-03 00:00:00,NaN,1
99,31872,44228,F,2112-10-22 00:00:00,2171-04-14 00:00:00,2171-04-14 00:00:00,NaN,1

# Base principle 


mapping function
Can save mapping into a dataframe of directly into code 

## Work organization

get list of mapped concepts
sou

In [24]:
df = pd.read_csv("mimic-iii-clinical-database-demo-1.4/D_ICD_DIAGNOSES.csv")
# show the types of df columns
print(df.dtypes)

# change type of icd9_code column to string


df['icd9_code'] = df['icd9_code'].astype(str)


print(df['icd9_code'].astype(str).dtype)

# select first 100 lines 

df_out = df.head(100)

# save to csv

df_out.to_csv('D_ICD_DIAGNOSES_100.csv', index=False)

row_id          int64
icd9_code      object
short_title    object
long_title     object
dtype: object
object

In [27]:
df_prescrriptions = pd.read_csv("mimic-iii-clinical-database-demo-1.4/PRESCRIPTIONS.csv")

df_selected = df_prescrriptions[["drug","ndc"]]

In [35]:
df_selected["nds"] = df_selected["ndc"]
df_selected["nds"]

/tmp/ipykernel_7052/3987856702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["nds"] = df_selected["ndc"]

0          6494300.0
1        536338101.0
2        574705050.0
3        904516561.0
4        121054410.0
            ...
10393            0.0
10394    713016550.0
10395    338004904.0
10396            0.0
10397            0.0
Name: nds, Length: 10398, dtype: float64

In [31]:
# Mapping definitions 


def mapping(df,to_map):

    if to_map == "person_id":
        return subject_id_mapping(df)
    if to_map == "gender_concept_id":
        return  gender_concept_id_mapping(df)
    if to_map == "year_of_birth":
        return year_of_birth_mapping(df)
    if to_map == "race_concept_id":
        return race_concept_id_mapping(df)
    if to_map == "ethnicity_concept_id":
        return ethnicity_concept_id_mapping(df)
    else:
        raise ValueError(f"Error: {to_map} mapping not found")


def subject_id_mapping(person_df):

    person_id = person_df["subject_id"]

    return person_id


def gender_concept_id_mapping(person_df):

    gender_concept_id = 0 

    return gender_concept_id


def year_of_birth_mapping(person_df):

    #year_of_birth = person_df["dob"]
    year_of_birth = pd.to_datetime(person_df["dob"]).dt.year

    return year_of_birth

def race_concept_id_mapping(person_df):
    race_concept_id = 0 

    return race_concept_id


def ethnicity_concept_id_mapping(person_df):
    ethnicity_concept_id = 0

    return ethnicity_concept_id

In [ ]:
def transform_PATIENTS(PATIENTS_df, person_df):

    person_df["person_id"] = mapping(df = PATIENTS_df, to_map = "person_id")
    person_df["gender_concept_id"] = mapping(df = PATIENTS_df, to_map = "gender_concept_id")
    person_df["year_of_birth"] = mapping(df = PATIENTS_df, to_map = "year_of_birth")
    person_df["race_concept_id"] = mapping(df = PATIENTS_df, to_map = "race_concept_id")
    person_df["ethnicity_concept_id"] = mapping(df = PATIENTS_df, to_map ="ethnicity_concept_id")
    

    return(person_df)
    

    

transform_PATIENTS(PATIENTS_df,person_base_necessary)

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1
...,...,...,...,...,...,...,...,...
95,31838,44083,M,2057-11-15 00:00:00,2114-02-20 00:00:00,2114-02-20 00:00:00,2114-02-20 00:00:00,1
96,31853,44154,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,1
97,31867,44212,F,2078-06-16 00:00:00,2124-01-29 00:00:00,NaN,2124-01-29 00:00:00,1
98,31870,44222,M,2107-06-27 00:00:00,2182-08-03 00:00:00,2182-08-03 00:00:00,NaN,1
99,31872,44228,F,2112-10-22 00:00:00,2171-04-14 00:00:00,2171-04-14 00:00:00,NaN,1

In [23]:
import pandas as pd 
from pathlib import Path





def source_concepts_generation(source_table_name, concept_source_code, concept_source_name,reference_table_name=None ):

    source_table = pd.read_csv(Path("MIMIC_data/" + source_table_name + ".csv"))
    

    if reference_table_name:
        reference_table = pd.read_csv(Path("MIMIC_data/" + reference_table_name + ".csv"))
        source_table = pd.merge(source_table, reference_table, on=concept_source_code, how="left")
        #source_table = source_table.rename(columns={"concept_id":concept_source_name})


    concept_table_for_usagi = source_table[[concept_source_code,concept_source_name]].groupby([concept_source_code,concept_source_name])
    concept_table_for_usagi = concept_table_for_usagi.size().reset_index(name='frequency')



    return concept_table_for_usagi

source_concepts_generation("DIAGNOSES_ICD","icd9_code","long_title", "D_ICD_DIAGNOSES")

    icd9_code                                         long_title  frequency
0       00845  Intestinal infection due to Clostridium difficile          7
1        0380                           Streptococcal septicemia          2
2       03811  Methicillin susceptible Staphylococcus aureus ...          2
3       03812  Methicillin resistant Staphylococcus aureus se...          2
4       03819                    Other staphylococcal septicemia          1
..        ...                                                ...        ...
556     V5867                 Long-term (current) use of insulin          8
557      V600                                    Lack of housing          1
558      V667                      Encounter for palliative care          3
559     V8741    Personal history of antineoplastic chemotherapy          3
560     V8801         Acquired absence of both cervix and uterus          2

[561 rows x 3 columns]

In [15]:
import pandas as pd
from pathlib import Path

# Load the source table
source_table = pd.read_csv(Path("MIMIC_data/DIAGNOSES_ICD.csv"))

# Define the function
def source_concepts_generation(source_table, concept_source_code, concept_source_name, reference_table=None):
    # Check if a reference table is provided
    if reference_table:
        print("Reference table provided. Proceeding to merge.")
        # Load the reference table
        reference_table = pd.read_csv(reference_table)
        # Perform the merge operation
        source_table = pd.merge(
            source_table, 
            reference_table, 
            left_on=concept_source_code, 
            right_on=concept_source_name, 
            how="left"
        )
        # Optional renaming step (if needed)
        # source_table = source_table.rename(columns={"concept_id": concept_source_name})
    else:
        print("No reference table provided. Returning source table as-is.")
    
    return source_table

# Call the function
result_table = source_concepts_generation(
    source_table, 
    "icd9_code", 
    "long_title", 
    reference_table="MIMIC_data/D_ICD_DIAGNOSES.csv"
)

Reference table provided. Proceeding to merge.

In [9]:
source_table
reference_table

,row_id,icd9_code,short_title,long_title
0,1,01716,Erythem nod tb-oth test,Erythema nodosum with hypersensitivity reactio...
1,2,01720,TB periph lymph-unspec,"Tuberculosis of peripheral lymph nodes, unspec..."
2,3,01721,TB periph lymph-no exam,"Tuberculosis of peripheral lymph nodes, bacter..."
3,4,01722,TB periph lymph-exam unk,"Tuberculosis of peripheral lymph nodes, bacter..."
4,5,01723,TB periph lymph-micro dx,"Tuberculosis of peripheral lymph nodes, tuberc..."
...,...,...,...,...
14562,14563,V8712,Contact/exposure benzene,Contact with and (suspected) exposure to benzene
14563,14564,V8719,Cont/exp haz aromat NEC,Contact with and (suspected) exposure to other...
14564,14565,V872,Cont/exp hazard chem NEC,Contact with and (suspected) exposure to other...
14565,14566,V8731,Contact/exposure mold,Contact with and (suspected) exposure to mold
14566,14567,V8732,Contact/exp algae bloom,Contact with and (suspected) exposure to algae...