In [ ]:
import pandas as pd

import pandas as pd

# Example Series

death_dates = pd.DataFrame({
    "hospital_deathtime": pd.to_datetime(hospital_deathtime, errors="coerce"),
    "known_hospital_deathtime": pd.to_datetime(known_hospital_deathtime, errors="coerce"),
    "insurance_claim_deathtime": pd.to_datetime(insurance_claim_deathtime, errors="coerce")
})
max_death_date = death_dates.max(axis=1, skipna=True)
max_death_date = max_death_date.where(~max_death_date.isna(), None)


print(max_death_date)
death_date = pd.to_datetime(max_death_date, errors='coerce')

# Display the resulting Series
print(death_date)

0   2023-04-01
1   2023-05-01
2   2023-05-15
3   2023-06-01
4          NaT
dtype: datetime64[ns]
0   2023-04-01
1   2023-05-01
2   2023-05-15
3   2023-06-01
4          NaT
dtype: datetime64[ns]

In [16]:
PATIENTS = pd.read_csv("MIMIC_data/PATIENTS.csv")
dod_hospital = PATIENTS["dod_hosp"]
dod_ssn = PATIENTS["dod_ssn"]


df = pd.DataFrame({"dod_hospital":dod_hospital,
                   "dod_ssn":dod_ssn})

df

           dod_hospital              dod_ssn
0   2165-08-12 00:00:00  2165-08-12 00:00:00
1   2126-08-28 00:00:00                  NaN
2   2125-10-07 00:00:00  2125-10-07 00:00:00
3                   NaN  2152-09-12 00:00:00
4   2163-05-15 00:00:00  2163-05-15 00:00:00
..                  ...                  ...
95  2114-02-20 00:00:00  2114-02-20 00:00:00
96  2178-05-15 00:00:00  2178-05-15 00:00:00
97                  NaN  2124-01-29 00:00:00
98  2182-08-03 00:00:00                  NaN
99  2171-04-14 00:00:00                  NaN

[100 rows x 2 columns]